/* Base Element Styles
   ------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $stack-body;
  font-size: 1rem;
  line-height: 1.4;
  background-color: $color-bg-body;
  color: $color-text-dark;
}

h1,
p {
  padding: 0;
  margin: 0;
}