/* Input Styles
   ------------------------- */

.form-block {
  > label {
    display: block;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  > input {
    width: 100%;
  }
}
input {
  padding: 0.5rem;
  border: none;
  border: 1px solid $color-border-input;
  border-radius: 5px;
}
fieldset {
  legend {
    font-weight: 600;
    padding: 0 0.25rem;
  }
  select {
    height: 34px;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
  label[for="first-train-am"] {
    margin-right: 0.25rem;
  }
  input[type="text"] {
    width: 44px;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
}